# Affiliated Package: Astroquery

[Astroquery](http://www.astropy.org/astroquery/) is an Astropy-affiliated package that contains a collection of tools to access online Astronomical data. To install it, do:

    pip install astroquery

The following modules have been completed using a common API:

* SIMBAD Queries (``astroquery.simbad``)
* VizieR Queries (``astroquery.vizier``)
* IRSA Dust Extinction Service Queries (``astroquery.irsa_dust``)
* NED Queries (``astroquery.ned``)
* Splatalogue Queries (``astroquery.splatalogue``)
* IRSA Queries (``astroquery.irsa``)
* UKIDSS Queries (``astroquery.ukidss``)
* MAGPIS Queries (``astroquery.magpis``)
* NRAO Queries (``astroquery.nrao``)
* Besancon Queries (``astroquery.besancon``)
* NIST Queries (``astroquery.nist``)
* NVAS Queries (``astroquery.nvas``)
* GAMA Queries (``astroquery.gama``)
* ESO Queries (``astroquery.eso``)
* xMatch Queries (``astroquery.xmatch``)
* Atomic Line List (``astroquery.atomic``)
* ALMA Queries (``astroquery.alma``)
* Skyview Queries (``astroquery.skyview``)
* NASA ADS Queries (``astroquery.nasa_ads``)
* HEASARC Queries (``astroquery.heasarc``)

These others are functional, but do not follow a common & consistent API:

* Fermi Queries (``astroquery.fermi``)
* SDSS Queries (``astroquery.sdss``)
* ALFALFA Queries (``astroquery.alfalfa``)
* Spitzer Heritage Archive (``astroquery.sha``)
* LAMDA Queries (``astroquery.lamda``)
* OGLE Queries (``astroquery.ogle``)
* Open Exoplanet Catalogue(``astroquery.open_exoplanet_catalogue``)
* CosmoSim Queries (``astroquery.cosmosim``)

## SIMBAD

As an example, let's run a SIMBAD query:

In [1]:
from astropy import units as u
from astroquery.simbad import Simbad

In [2]:
r = Simbad.query_region('m42', radius=3. * u.arcmin)

In [3]:
r.colnames

['MAIN_ID',
 'RA',
 'DEC',
 'RA_PREC',
 'DEC_PREC',
 'COO_ERR_MAJA',
 'COO_ERR_MINA',
 'COO_ERR_ANGLE',
 'COO_QUAL',
 'COO_WAVELENGTH',
 'COO_BIBCODE']

In [4]:
r

<Table masked=True length=2247>
           MAIN_ID                   RA      ...     COO_BIBCODE
                                  "h:m:s"    ...
            object               unicode416  ...        object
------------------------------ ------------- ... -------------------
                         M  42    05 35 17.3 ... 1981MNRAS.194..693L
               NAME ORI REGION   05 35 17.30 ...
                [OW94] 172-237   05 35 17.20 ... 1999AJ....117.1375S
                [OW94] 172-327   05 35 17.20 ... 1996AJ....111..846O
                DOH  7 175-328    05 35 17.5 ... 2004AJ....127.3456D
                       MAX 126   05 35 17.11 ... 2005AJ....129.1534R
                DOH  7 171-327    05 35 17.1 ... 2004AJ....127.3456D
                       MAX 125   05 35 17.11 ... 2005AJ....129.1534R
                [OW94] 171-326    05 35 17.1 ... 2004AJ....127.3456D
                           ...           ... ...                 ...
                       TPSC  8 05 35 18.9148 ... 2011ApJ...733...50M
                    [YKS96]  8    05 35 11.0 ...
       2MASS J05350705-0525005   05 35 07.05 ... 2003yCat.2246....0C
                  [LB2000]  19    05 35 13.0 ... 2000MNRAS.315...11L
       2MASS J05351814-0520295  05 35 18.142 ... 2003yCat.2246....0C
         COUP J053514.1-052620  05 35 14.191 ... 2005ApJS..160..319G
                       JW  377  05 35 12.272 ... 2003yCat.2246....0C
                     MLLA  919   05 35 12.59 ... 2009A&A...502..883R
[NW2007] OrionAN-0535146-52623    05 35 14.6 ... 2007MNRAS.374.1413N
                     MLLA  945   05 35 19.69 ... 2009ApJS..183..261D

## WISE

In [ ]:
from astroquery.irsa import Irsa

In [ ]:
Irsa.query_region('m42', catalog='wise_allsky_4band_p3as_psd', radius=10*u.arcmin)

## Practical Exercise

Go to the documentation and try out a query interface for a service that might be relevant to you!